player-connection-mode=Listen
player-connection-guid=126850311
player-connection-debug=0
player-connection-project-name=The Long GoodBye
player-connection-ip=192.168.56.1
player-connection-ip=192.168.254.107
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=0e4a6b0343384d7fa0297363fc796c66
