player-connection-mode=Listen
player-connection-guid=571257402
player-connection-debug=1
player-connection-project-name=The Long GoodBye
player-connection-ip=192.168.56.1
player-connection-ip=192.168.10.211
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=606ba7b43b88429d8a29300956def7fc
